{% autoescape off %}
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
    <div>
        <h2>Time table of revision class</h2>
        <div>
            <table>
                <tr>
                    <th>Subject</th>
                    <th>Teacher</th>
                    <th>Day of week</th>
                    <th>Time Start</th>
                    <th>Time End</th>
                </tr>
                {% for item in list_time_table_res %}
                    <tr>
                        <td>{{ item.name_subject }}</td>
                        <td>{{ item.name_teacher }}</td>
                        <td>{{ item.time_table.day_of_week }}</td>
                        <td>{{ item.time_table.time_start }}</td>
                        <td>{{ item.time_table.time_end }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endautoescape %}
